.list {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 4%;
    border-bottom: 3px solid #ffffff55;
    border-top: 3px solid #ffffff55;
    margin: 0;
}
.listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 32px;
    border: solid rgba(255, 255, 255) 2px;
    border-radius: 100%;
    background-color: rgba(1, 1, 55, 0.4) !important;
    font-size: 25px;
    color: white;
    text-decoration: none;
    img {
        position: absolute;
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
    p {
        width: 100%;
        text-align: center;
        margin: 0;
        color: white;
    }
}